{
  "provider": "chatgpt",
  "theme": "light",
  "hotkey_key": "space",
  "logging": 0,
  "prompt": "",
  "openai_model": "gpt-4o-mini",
  "gemini_model": "gemini-2.5-flash",
  "openai_api_key": "",
  "gemini_api_key": ""
}
